{% set user = item.value.docroot_owner %}

[{{ user }}]
{# Check /etc/php/7.x/fpm/pool.d/www.conf for all the options #}

user = {{ user }}
group = www-data
listen = /run/php/php{{ item.value.phpver }}-fpm-{{ user }}.sock

listen.owner = {{ user }}
listen.group = www-data

pm = ondemand
pm.max_children = {{ item.value.phppool.max_children }}
pm.start_servers = {{ item.value.phppool.start_servers }}
pm.min_spare_servers = {{ item.value.phppool.min_spare_servers }}
pm.max_spare_servers = {{ item.value.phppool.max_spare_servers }}